<%# 3. `index.erb` should contain a form with text field. Here, the user will enter an item to purchase. The form should post to the action `/checkout`. %>

<form method="post" action="/checkout">
  <label form="item">Add to Cart</label>
  <input type="text" id="item" item="item">
  <input type="submit" value="submit">
</form>
